@tailwind base;
@tailwind components;
@tailwind utilities;

.textprimary400 {
  color: #f2a945;
}
.textprimary500 {
  color: #f78410;
}
.textprimary600 {
  color: #e07516;
}
.bgprimary400 {
  background-color: #f2a945;
}
.bgprimary500 {
  background-color: #f78410;
}
.bgprimary600 {
  background-color: #e07516;
}

.range-slider {
  background: #f78410;
  border-radius: 5px;
}

.range-slider::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  background: #f78410;
  border-radius: 50%;
  cursor: pointer;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 700;
}

.icon {
  font-size: 40px;
  font-variation-settings: "FILL" 1, "wght" 700;
}
